@import url('https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import 'tailwindcss';

@theme {
  --color-brand: #D60024;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

select, option {
  font-family: inherit;
}

/* Hero Swiper Navigation */
      .swiper-button-next,
      .swiper-button-prev {
        color: white;
      }

      /* Hero Swiper Pagination */
      .swiper-pagination-bullet-active {
        background-color: black;
      }

      /* Promo Swiper Navigation */
      .swiper-button-next-promo,
      .swiper-button-prev-promo,
      .swiper-button-next-brands,
      .swiper-button-prev-brands {
        color: #cd002e;
        padding: 1rem;
      }

